<h1 class="display-1">Created By</h1>
<ol class="p-5">
    <h4 class="display-4 fw-bold"><li>Midhun</li></h4>
    <ul>
        <p class="lead fs-1"><li>Frontend and Training the model(to recognize the pattterns of data). </li></p>
        <p class="lead fs-1"><li>Data aggregation.</li></p>
        <!-- The data aggregator will identify the atomic data that is to be aggregated. The data aggregator may apply predictive analytics, artificial intelligence (AI) or machine learning algorithms to the collected data for new insights. The aggregator then applies the specified statistical functions to aggregate the data. -->
    </ul>
    <h4 class="display-4 fw-bold"><li>Murali</li></h4>
    <ul>
        <p class="lead fs-1"><li>Building Algorithms</li></p>
        <ol>
            <p class="lead fs-1"><li>The <span class="h1">Geometric approach</span> focuses on distinguishing features.</li></p>
            <p class="lead fs-1"><li>The <span class="h1">Photo-metric statistical</span> methods are used to extract values from an image.</li></p>
        </ol>
        
    </ul>
    <h4 class="display-4 fw-bold"><li>Navya</li></h4>
    <ul>
        <p class="lead fs-1"><li>Applied Machine learning Classifications.</li></p>
        <p class="lead fs-1"><li>Data organization.</li></p>
    </ul>
    <h4 class="display-4 fw-bold"><li>Madhav</li></h4>
    <ul>
        <p class="lead fs-1"><li>Data Analysing.</li></p>
        <p class="lead fs-1"><li>Data organization.</li></p>
    </ul>
</ol>