/* .a{
  color: rgb(0, 72, 255);
}
nav{
  background-color:white;
}
img{
  height: 60px;
  width: 200px;
  margin-left:10px;
} */

.navigationbar{
  position: fixed;
  top: 0px;
  width: 100%;
}
.navigationsidebar {
  left: 0px;
  height: 100%;
}
.content {
  right: 0px;
}