


<div class="container  mt-5 pt-5 border border-warning" style="width: 600px;">
    <h3 class="fw-bold text-center border border-danger bg-danger bg-opacity-25">Verify your Phone Number:</h3><br>
    <div class="row">
        <div class="col-md-9">
            <input type="number" class="form-control" placeholder="Enter Phone Number">
        </div>
        <div class="col-md-3">
            <button class="btn btn-info"  (click)="phoneFunction()">Send OPT</button>
        </div><br><br><br>
        <div *ngIf="enterPhOpt" class="container row">
            <p class="lead bg-success  bg-opacity-25 mx-3">Enter OPT received to the phone number:</p>
            <div class="col-md-9">
                <input type="number" class="form-control" placeholder="_ _ _ _ _ _" maxlength="6">
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" (click)="phoneFunction()">OK</button>
            </div>
        </div>
    </div><br>
    <hr><br>
    <h3 class="fw-bold text-center border border-danger bg-danger bg-opacity-25">Verify your Email:</h3><br>
    <div class="row">
        <div class="col-md-9">
            <input type="number" class="form-control" placeholder="Enter Email">
        </div>
        <div class="col-md-3">
            <button class="btn btn-info " (click)="emailFunction()" >Verify Email</button>
        </div><br><br><br>
        <div *ngIf="enterEmailOpt" class="container row">
            <p class="lead bg-success  bg-opacity-25 mx-3">Enter OPT received to the Email:</p>
            <div class="col-md-9">
                <input type="number" class="form-control" placeholder="_ _ _ _ _ _" maxlength="6">
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" (click)="phoneFunction()">OK</button>
            </div>
        </div>
    </div><br>
    <div class="text-center">
        <button class="btn btn-secondary border border-dark border-5" routerLink="/intrest">Next >></button>
    </div>
</div>